/****************************
 * DESKTOP FIRST
****************************/

/* GENERAL SETTINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img{
    width: 100%;
    display: block;
  }
  ul{
    list-style: none;
  }
  a{
     color: inherit;
     text-decoration: none;
    }
/* GENERAL */
footer{
  height: 100px;
  background-color: aqua;
}

#wrapper{
  height: calc(100vh - 100px);
  display: flex;
  background-color: #141922;
}
aside{
  width: 200px;
  border: 1px dashed yellow;
}
main{
  width: calc(100% - 200px);
  border: 1px dashed yellow;
  height: 100%;
  
}
header{
  width: calc(100% - 200px);
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #080B12;
}
#music{
  padding: 90px 10px 0;
  height: 100%;
  overflow: auto;
}


/* HEADER */
header{
    display: flex;
    text-align: left;
    justify-content: flex-end;
    align-items: center;
}
.button{
    color: white;
    padding: 5px 30px;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 10px;
    text-transform: uppercase;
}

/* nav */
#music > nav > ul{
    display: flex;
    justify-content: center;   
    gap: 10px;
    color: #76787D;
    text-transform: uppercase;
}


/* MUSIC */
.my-row{
  display: flex;
  flex-wrap: wrap;
  margin: 10px -10px 0;
}
.card{
  width: calc(100% / 6 - 20px);
  padding: 10px;
  margin: 0 10px;
  /* background-color: yellow; */
}
.img-circle img{
    border-radius: 50%;
}
#music h2{
    color: white;
    padding-left: 10px;
}
#music h3 {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#music h4{
    color: #76787D;
    text-align: center;
    margin-top: 10px;
}
#music h5{
    color: #76787D;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 15px;
}