/****************************
 * DESKTOP FIRST
****************************/

/* GENERAL SETTINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img{
    width: 100%;
    display: block;
  }
  ul{
    list-style: none;
  }
  a{
     color: inherit;
     text-decoration: none;
    }
/* GENERAL */
footer{
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #282828;
}

#wrapper{
  height: calc(100vh - 100px);
  display: flex;
  background-color: #141922;
}
aside{
  width: 200px;
  background-color: black;
  position: relative;
  /* border: 1px dashed yellow; */
}
main{
  width: calc(100% - 200px);
  /* border: 1px dashed yellow; */
  height: 100%;
  
}
header{
  width: calc(100% - 200px);
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #080B12;
}
#music{
  padding: 90px 10px 0;
  height: 100%;
  overflow: auto;
}
/* aside */
nav{
    margin-bottom: 20px;
}
.logo-small{
    display: none;
}

.list-nav img{
    width: 30px;
    height: 30px;
    display: inline;
    vertical-align: middle;
    margin: 3px 5px;
    padding-left: 3px;
}
.list-nav span{
    color: #76787D;
}
nav h2{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 10px;
}

/* HEADER */
header{
    display: flex;
    text-align: left;
    justify-content: flex-end;
    align-items: center;
}
.button{
    color: white;
    padding: 5px 30px;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 10px;
    text-transform: uppercase;
}
.playlist{
    color: #76787D;
    
}
.playlist li i {
   margin-left: 5px;
}
.margin-top{
    margin-top: 10px;
    margin-left: 5px;
}
.margin-bott{
    margin-bottom: 10px;
}
/* nav */
#music span{
    border-bottom: 2px solid lawngreen;
}
.on span{
    color: white;
}
#music > nav > ul{
    display: flex;
    justify-content: center;   
    gap: 10px;
    color: #76787D;
    text-transform: uppercase;
}
.on{
    border-left: 2px solid lawngreen;
}
.install-app{
    color: #76787D;
}
.info-app{
    width: 190px;
    /* height: 100px; */
    border-top: 1px solid grey;
}
.info-app img{
    width: 20px;
    height: 20px;
    display: inline;
}
.info-app span{
    color: #76787D;
}
.info-app span:last-child{
    color: white;
}
.icon i{
    color: #76787D;
}

.da-obsolu{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
}

/* MUSIC */
.my-row{
  display: flex;
  flex-wrap: wrap;
  margin: 10px -10px 0;
}
.card{
  width: calc(100% / 6 - 20px);
  padding: 10px;
  margin: 0 10px;
  /* background-color: yellow; */
}
.img-circle img{
    border-radius: 50%;
}
#music h2{
    color: white;
    padding-left: 10px;
}
#music h3 {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#music h4{
    color: #76787D;
    text-align: center;
    margin-top: 10px;
}
#music h5{
    color: #76787D;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 15px;
}
/* IMG OVERLEY */
/* HOVER */

.button:hover{
    transform: scale(1.1);
}
.fa-circle-play:hover{
    transform: scale(1.1);
}
.cover-info p:last-child:hover{
    color: white;
}
.icon i:hover{
    color: white;
}
.install-app:hover{
    color: white;
}
nav ul li:hover{
    color: white;
}
.playlist li:hover{
    color: whitesmoke;
}
.list-nav li:hover{
    color: white;
}
.white-bar:hover{
    background-color: yellow;
}
 .play-circle:hover{
    background-color: white;
} 
.volume-bar:hover{
    background-color: yellow;
}
/*  FOOTER*/

.footer-left{
    display: flex;
    align-items: center;
    width: 20%;
    padding: 0px 25px;
}
.footer-center{
    width: 60%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}
.footer-right{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.cover-img{
    width: 50px;
    height: 50px;
}
.cover-info p{
    color: white;
    margin-left: 5px;
}
.cover-info p:last-child{
    color: #76787D;
    margin-left: 5px;
}
.icon,
.play-icon i,
.volume-setting i{
    color: white;
    padding: 20px 10px;
}
.play-line{
    height: 2px;
    background-color: #76787D;
    width: 100%;
}
.volume-line{
    height: 2px;
    background-color: #76787D;
    /* width: 20%; */
    display: flex;
    width: 200px;
}
.line{
    display: flex;
    align-items: center;
    height: 20px;
}
.white-bar{
    width: 40px;
    height: 3px;
    color: white;
    background-color: white;
}
.line span{
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}
.test-new{
    width: 100px;
    height: 2px;
}
.volume-bar{
    width: 40px;
    height: 3px;
    color: white;
    background-color: white;
}

/* footer circle */
.play-circle{
width: 10px;
height: 10px;
background-color: transparent;
transform: translate(35px, -7px);
border-radius: 50%;
}

/* MEdia QUERIES */
@media screen and (max-width: 1100px) {
    .card{
        width: calc((100% / 4) - 20px);
    }
    .cover-img img{
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 700px) {
    .card{
        width: calc((100% / 2) - 20px);
    }
    .cover-img img{
        width: 50px;
        height: 50px;
    }
    .test-new{
        width: 60px;
        height: 2px;
    }
    .volume-bar{
        width: 3px;
        height: 3px;
        color: white;
        background-color: white;
    }

}

@media screen and (max-width: 600px) {
    aside{
        width: 80px;
    }
    main,
    header{
        width: calc(100% - 80px);
    }
    .logo{
        display: none;
    }
    .logo-small{
        display: inline-block;
        padding: 10px 10px;
        
    }
    .list-nav span{
        display: none;
    }
    .list-nav img{
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }
    .on{
        border-left:none;
    }
    nav h2{
        display: none;
    }
    .playlist{
        display: none;
    }
    .install-app span{
        display: none;
    }
    .info-app{
        padding: 10px 30px;
        border: none;
    }
    .info-app span{
        display: none;
    }
    .install-app{
        padding: 10px 30px;
    }
    .cover-img img{
        width: 50px;
        height: 50px;
    }
}